<div>
  <div class="image-container">
    <img src="footer_bg.jpg" alt="Footer image" class="footer-image">
  </div>

  <div class="data-container">
    <div class="data-links">
      <span>About us</span>
      <span>Contact us</span>
      <span>Careers</span>
      <span>Privacy Policy</span>
    </div>
    <div class="data-icons">
      <i class="pi pi-facebook"></i>
      <i class="pi pi-instagram"></i>
      <i class="pi pi-tiktok"></i>
      <i class="pi pi-twitter"></i>
    </div>
  </div>
</div>
