#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 160px;
}

.header-logo {
  display: flex;
  gap: 10px;
}

.header-logo:hover {
  cursor: pointer;
}

.header-title {
  font-weight: 800;
  font-size: 28px;
  color: #F17228;
}

.bold {
  font-weight: 600;
}

.button-container {
  display: flex;
  gap: 10px;
}
