<app-header address="address" [login]="true"></app-header>

<form class="order-container" [formGroup]="deliveryFormGroup">
  <div class="order-details">
    <div class="contact-section">
      <h3>Contact</h3>
      <div>
        <input
          type="text"
          pInputText
          formControlName="contact"
          pSize="large"
          placeholder="Email of contact"
        />
        <div class="gdpr-section">
          <p-checkbox inputId="gdpr" [binary]="true" />
          <label for="gdpr" class="ml-2"> Email me with news and offers </label>
        </div>
      </div>
    </div>

    <div class="contact-section">
      <h3>Delivery</h3>
      <div class="name-container">
        <input
          type="text"
          pInputText
          formControlName="firstName"
          pSize="large"
          placeholder="First Name"
        />
        <input
          type="text"
          pInputText
          formControlName="lastName"
          pSize="large"
          placeholder="Last Name"
        />
      </div>
      <div class="address-section">
        <input
          type="text"
          pInputText
          formControlName="address"
          pSize="large"
          placeholder="Address"
        />
      </div>
      <div class="address-section">
        <input
          type="text"
          pInputText
          formControlName="postalCode"
          pSize="large"
          placeholder="Postal Code"
        />
      </div>
      <div class="gdpr-section">
        <p-checkbox inputId="info" [binary]="true" />
        <label for="info" class="ml-2">
          Save this information for the next time
        </label>
      </div>
    </div>

    <div class="contact-section">
      <h3>Payment</h3>
      <div class="payment-section">
        <p-radiobutton
          name="payment"
          value="cash"
          inputId="cash"
          formControlName="payment"
        />
        <label for="cash" class="ml-2">Cash</label>
      </div>

      <div class="payment-section">
        <p-radiobutton
          name="payment"
          value="card"
          inputId="card"
          formControlName="payment"
        />
        <label for="card" class="ml-2">Card</label>
      </div>

      <div class="payment-section">
        <p-radiobutton
          name="payment"
          value="paypal"
          inputId="paypal"
          formControlName="payment"
        />
        <label for="paypal" class="ml-2">Paypal</label>
      </div>
    </div>

    <div class="submit-button">
      <p-button label="Order" severity="warn" (onClick)="displayValues()" />
    </div>
  </div>

  <div class="order-products">
    @for (product of orderBasket; track $index) {
    <div class="product-container">
      <div style="display: flex">
        <div class="image-container">
          <p-overlay-badge
            [value]="product.quantity"
            severity="danger"
            class="inline-flex"
          >
            <p-avatar
              class="p-overlay-badge"
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/walter.jpg"
              size="xlarge"
            />
          </p-overlay-badge>
        </div>
        <p>{{ product.name }}</p>
      </div>
      <p>${{ product.price }}</p>
    </div>
    }
    <div class="product-container">
      <p>Subtotal * {{ orderBasket.length }} items</p>
      <p>$ {{ getTotalValue() }}</p>
    </div>

    <div class="product-container">
      <p>Shipping</p>
      <p>FREE</p>
    </div>

    <div class="product-container">
      <p>Total</p>
      <p>USD ${{ getTotalValue() }}</p>
    </div>

    <!-- <div class="map-container"></div> -->
  </div>
</form>

<app-footer></app-footer>
