<div>
  <app-header [address]="address" [login]="login"></app-header>
  <app-hero-section
    [title]="'Are you starving?'"
    [subtitle]="'Within a few clicks, find meals that are accesible to you'"
    [showAddress]="true"
    (addressSubmitted)="handleAddress($event)"></app-hero-section>

  <div id="restaurants">
    <span class="title">Featured Restaurants</span>

    <div class="restaurants-list">
      @for (restaurant of restaurants; track restaurant.id) {
        <p-card [style]="{ width: '350px', overflow: 'hidden' }">
          <ng-template #header>
            <div class="card-img">
              <img [alt]=`${photoPath}${restaurant.id}.jpg` [src]=`${photoPath}${restaurant.id}.jpg`  />
            </div>
          </ng-template>
          <ng-template #title> {{ restaurant.name }} </ng-template>
          <ng-template #subtitle>
            <i class="pi pi-star-fill"></i> {{ restaurant.rating }}
          </ng-template>
          <ng-template #footer>
            <p-button label="Order now" severity="warn" (onClick)="visitRestaurant(restaurant.id)" />
          </ng-template>
        </p-card>
      }
    </div>
  </div>

  <app-footer></app-footer>
</div>
